body {
  background-color: #EEE2DE; /* Change this to your preferred background color */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
 }

 .input-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
 }
 
 .input-form input {
  margin-right: 1em;
 }